# config/config.yaml

llm_server:
  url: "http://localhost:8084/completion"
  headers:
    Content-Type: "application/json"

llm_server_vision:
  url: "http://localhost:8088/v1/chat/completions"

models:
  stt_vosk:
    en: "models/stt_vosk/vosk-model-small-en-us-0.15"
    fr: "models/stt_vosk/vosk-model-small-fr-0.22"
  tts_piper:
    fr_upmc: "models/tts_piper/fr_FR-upmc-medium.onnx"
  llm:
    lfm_8b: "models/llm/LFM2-8B-A1B-UD-Q3_K_XL.gguf"
    LFM2-VL-450M-Q4: "models/llm/LFM2-VL-450M-Q4_0.gguf"
    mmproj-LFM2-VL-450M-Q8: "models/llm/mmproj-LFM2-VL-450M-Q8_0.gguf"

executables:
  llama_server:
    win: "models/llama_cpp/llama-server.exe"
    linux: "models/llama_cpp/llama-server"
    args: "-m {model_path} --port 8084 --ctx-size 2048"
  llama_server_vision:
    win: "models/llama_cpp/llama-server.exe"
    linux: "models/llama_cpp/llama-server"
    args: "-m {model_path} --mmproj {model_path_mmproj} --port 8088"

testing:
  output_dir: "tests/output"
  run_integration_tests: true

# --- COMMANDES ROBOT QT (POUR AGENTS 3 & 4) ---
qt_robot:
  gestures:
    - "QT/hi"
    - "QT/bye"
    - "QT/introduce"
    - "QT/recite_poem"
    - "QT/show_right"
    - "QT/show_left"
    - "QT/yawn"
    - "QT/point_front"
    - "QT/point_right"
    - "QT/point_left"
    - "QT/clap"
    - "QT/wave"
    - "QT/nod"
    - "QT/shake_head"
    - "QT/dance"
    - "QT/thinking"
    - "QT/bravo"
    - "QT/surprise"
    - "QT/what"
    - "QT/imitation"
    - "QT/strike"
    - "QT/kiss"
    - "QT/breath"
  
  emotions:
    - "QT/happy"
    - "QT/sad"
    - "QT/angry"
    - "QT/surprise"
    - "QT/fear"
    - "QT/disgust"